<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <nav id ="navigation" align="center" style="font-size: 130%">
                <a style="text-decoration:none" href="/">Опросник</a>|
                |<a style="text-decoration:none" href="/blog">Редактирвоание вопросов</a>|
                |<a style="text-decoration:none" href="/blog/add">Добавление вопросов</a>|
                |<a style="text-decoration:none" href="/answers">Ваши ответы</a>
            </nav>
        </header>
    </div>
</div>